body{
	background-color: #f5f5f5;
}
/*解决{{}}*/
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
.line{
	position: absolute;
	top: 4.446rem;
	width: 20rem;
	height: 0.054rem;
	background-color: #F5F5F5;
}
.customerlist{
	position: absolute;
	width: 20rem;
	height: auto;
	background-color: #fff;
	margin-bottom: 2.667rem;
}
.customerlist li{
	position: relative;
	width: 20rem;
	height: 4.5rem;
}
.cusname{
	position: absolute;
	font-size: 0.8rem;
	left: 0.5rem;
	top: 0.7rem;
}
.custel{
	position: absolute;
	font-size: 0.8rem;
	left: 5rem;
	top: 0.7rem;
}
.intername{
	position: absolute;
	left: 0.5rem;
	font-size: 0.64rem;
	top: 2.2rem;
	color: #868686;
}
.intertel{
	position: absolute;
	left: 5rem;
	font-size: 0.64rem;
	top: 2.2rem;
	color: #868686;
}
.intercom{
	position: absolute;
	left: 11rem;
	font-size: 0.64rem;
	top: 2.2rem;
	color: #868686;
	overflow: hidden;
	height: 0.853rem;
	width: 8.5rem;
}
.time{
	position: absolute;
	font-size: 0.64rem;
	top: 3.2rem;
	color: #868686;
	left: 0.5rem;
}
.status{
	position: absolute;
	font-size: 0.8rem;
	top: 0.7rem;
	left: 17rem;
	color: #00b7ee;
}
.add{
	position: fixed;
	width: 20rem;
	height:2.667rem;
	background-color: #00b7ee;
	bottom: 0rem;
}
.addimg{
	position: relative;
	font-size: 0.9rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 2.667rem;
}

.list-search-frame{
	position: relative;
	width: 20.0rem;
	height: 2.347rem;	
}
.list-search-search{
	position: absolute;
	font-size: 0.8rem;
	color: #414141;
	top: 0.7rem;
	left: 14rem;
}
.list-search-frame-text{
	position: absolute;
	width: 12rem;
	height: 1.547rem;
	top: 0.4rem;
	left: 0.64rem;
	background-color: #fff;
	border: none;
	font-size: 0.693rem;
	padding-left: 0.533rem;
}
.statusselect{
	position: absolute;
	width: 3rem;
	top: 0.4rem;
	left: 16.3rem;
	height: 1.5rem;
	font-size: 0.693rem;
	color: #868686;
	text-align: right;
	border:solid 0.027rem #c3c3c3;
}
.count{
	position: relative;
	height: 1.2rem;
	width: 18.72rem;
	font-size: 0.8rem;
	padding: 0rem 0.64rem;
	color: #868686;
}
.nomore{
	display: none;
	position: relative;
	height: 16.0rem;
	width: 16rem;
	left: 2rem;
	top: 2rem;
	background-color: #f5f5f5;
}
.nomoreimg{
	position: absolute;
	width: 6rem;
	height: 6rem;
	top: 5rem;
	left: 5rem;
}
.nomoretext{
	position: absolute;
	height: auto;
	width: 16rem;
	top: 12rem;
	text-align: center;
	font-size: 1rem;
}