<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" href="css/weuix.min.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/personallist.css">
	<title>房源列表</title>
</head>
<body ng-app="perlist" ng-controller="perlistCtrl">

	<!-- <div class="list-search-frame">
		<div class="list-search-search" ng-click="search()">搜索</div>
		<input type="text" name="kw" class="list-search-frame-text" placeholder="请输入项目名称">
		<select class="statusselect" ng-change="search()" ng-model="myselect">
			<option value="">状态</option>
			<option value="0">禁用</option>
			<option value="1">启用</option>
		</select>
	</div> -->
	<div class="header-box">
		<span class="text">剩余刷新次数<b class="number">0</b>次</span>
		<div ng-click="payRefresh($event)"  class="btn">购买刷新套餐</div>
	</div>
	<!-- <div class="count">共查找到 <b>0</b> 条</div> -->
	<div class="customerlist">
		<ul id="ul1">
			<li class="list-house" style="list-style-type: none;" ng-repeat="item in houselist" ng-click="checkId(item.id)">
	            <!-- <div class="line"></div> -->
	            	<div class="house-text-left">
						<img class="house-img" ng-Src="{{ item.image }}"/>
						<div ng-cloak class="house-text-plot_name-2">{{item.area+' '+item.street}}</div>
	            	</div>
	            	<div class="house-text-right">
 						<div ng-cloak class="house-text-head">{{item.title}}</div>
 						<div ng-if="item.status == '1'" ng-cloak class="house-text-status zhanshi">展示中</div>
 						<div ng-if="item.status == '0'" ng-cloak class="house-text-status buzhanshi">待审核</div>
 						<!-- <div ng-cloak class="list-expire">{{item.expire}}</div> -->
						<img class="house-img-address" src="img/address.png" width="20px" height="20px"/>
 						<div ng-cloak class="house-text-company" data-id="' + companyid + '">
							{{item.zd_company.name}}
						</div>
 						<div class="btn-box">
 							<span ng-click="payTop($event,item.id)">置顶</span>
							<span ng-click="refresh($event,item.id)">刷新</span>
							<span ng-if="item.can_edit == '1'" ng-click="edit($event,item.id)" class="house-btn-edit">编辑</span>
							<!-- <span ng-click="edit($event,item.id)" class="house-btn-edit ">编辑</span> -->
							<span ng-if="item.status == '0'" ng-click="addHouse($event,item.id)">上架</span>
							<span ng-if="item.status == '1'" ng-click="showClose($event,item.id)">下架</span>
 						</div>
 					
	            	</div>
	          
	            <!-- <div ng-cloak class="house-text-price"><a style="color: rgb(223,82,37);" href="duijieren.html?hid={{item.id}}">对接人申请/续费</a></div> -->
	        
	            <!-- <div ng-cloak class="list-status">报备管理</div> -->
	            
            </li>
		</ul>
		<div class="nomore">
				<img class="nomoreimg" src="./img/nomore.png">
				<div class="nomoretext">暂时还没有数据呦~</div>
			</div>
	</div>
	<div class="bottom-blank"></div>
	<!-- 下架页面 -->
	<div class="tip-off">
	    <img class="tip-off-shutdown" src="./img/wrong.png">
	    <div class="tip-off-head">请选择或输入下架理由</div>
	    <div class="tip-off-select-window">
	        <ul>
	            <li class="tip-off-option">
	                <div>已售罄</div>
	                <img class="tip-off-select select-hide" src="./img/select.png">
	            </li>
	            <li class="tip-off-option">
	                <div>已撤场</div>
	                <img class="tip-off-select select-hide" src="./img/select.png">
	            </li>
	            <li class="tip-off-option">
	                <div>暂停带看</div>
	                <img class="tip-off-select select-hide" src="./img/select.png">
	            </li>
	            <li class="tip-off-option">
	                <div>开发商自销</div>
	                <img class="tip-off-select select-hide" src="./img/select.png">
	            </li>
	            <li class="tip-off-option">其他<img class="tip-off-select select-hide" src="./img/select.png"></li>
	        </ul>
	        <textarea class="tip-off-detail" type="textarea" name="" placeholder="您可在此写下具体描述..." maxlength="100"></textarea>
	    </div>
	    <div class="tip-off-tijiao" ng-click="close()">提 交</div>
	</div>
	<div class="add" onclick="location.href='personalEdit.html'">
		<div class="addimg">发布项目</div>
	</div>






	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/rem.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/personallist.js"></script>
	<script src="https://s19.cnzz.com/z_stat.php?id=1265807816&web_id=1265807816" language="JavaScript"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/zepto.min.js"></script>
</body>
</html>