* {
    margin: 0;
    padding: 0;
}

img {
    border: none 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

body {
    /*font-family: 楷体,STKaiti, KaiTi_GB2312, "华文楷体", "宋体", Arial, Helvetica, sans-serif;*/
    /*font-size: 26px;*/
    /*background: #f1f2f6;*/
}
.clear{
    clear: both;
}
.line{
    /*height: 1px;*/
    border-top: 1px solid #dfdfdf;
    background: #dfdfdf;
    margin: 0.2rem 0;
}
button{
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
}